.nav>* {
    transition: all .3s ease;
}

.nav>*:hover {
    color: #8e16ff;
}

@media screen and (max-width: 768px) {
    .nav {
        position: absolute;
        background-color: #ddd;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 3px;
        top: 100%;
        width: 100%;
        text-align: center;
        left: 50%;
        transform: scaleY(0) translateX(-50%);
        transform-origin: top;
        border-bottom-right-radius: .3rem;
        border-bottom-left-radius: .3rem;
        transition: all .3s ease;
    }

    .active {

        transform: scaleX(1) translateX(-50%);

    }

    .nav>* {
        transition: all .3s ease;
        padding: .25rem;
        border-radius: 5px;
    }

    .nav>*:hover, .linkActive {
        color: #A855F7;
        background-color: #fff;
        letter-spacing: .5rem;
        font-weight: bold;
    }

}